 body  {
    background-color: rgba(238, 208, 250, 0.3);
    background-image: linear-gradient(to right, rgb(255,255,255), rgb(4, 197, 187));
 }

 h1 {
    color: rgb(26, 24, 24);
    font-family: 'Dancing Script';
    font-size: 50px;
    text-align: center;
    font-style: italic; 
 }
 h2 {
    color: rgb(44, 80, 97);
    font-family: 'Dancing Script';
    font-size: 35;
    text-align: center;
    font-style: italic;  
 }
.vertical-menu a  {
     font-family:'Montserrat' ;
     background-color: rgb(40, 100, 100);
     color: rgb(255,255,255);
     display: block;
     padding: 15px;
     text-decoration: none;
}
.vertical-menu a:hover {
   background-color: rgb(144, 128, 247);
}
.vertical-menu a.active {
   background-color: rgba(243, 26, 189, 0.678);
   color: rgb(26, 24, 24);
}